.menu {
    padding: 49px 41px 24px 67px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    &__logo{
        margin-left: 16px;
        display: flex;
        align-items: center;
        gap: 27px;
        margin-bottom: 125px;
        span {
            font-weight: 600;
            font-size: 27px;
            color: #111026;
        }
        cursor: pointer;
    }
    
    &__item {
        margin-bottom: 54px;
        margin-left: 16px;
        display: flex;
        align-items: center;
        &:hover{
            &.menu__item:after{
                content: '';
                display: block;
                width: 3px;
                height: 23px;
                position: absolute;
                right: -2px;
                background-color: #5E81F4;
                border-radius: 10px;
            }
            .menu__icon {
                background-color: #5E81F4;
            }
        }
        &:first-child{
            .menu__icon{
                mask-image: url('./../icons/nav/home.svg');
            }
        }
        &:nth-child(2){
            .menu__icon{
                mask-image: url('./../icons/nav/folder.svg');
            }
        }
        &:nth-child(3){
            .menu__icon{
                mask-image: url('./../icons/nav/book.svg');
            }
        }
        &:nth-child(4){
            .menu__icon{
                mask-image: url('./../icons/nav/calendar.svg');
            }
        }
        &:nth-child(5){
            .menu__icon{
                mask-image: url('./../icons/nav/chat.svg');
            }
        }
        &:nth-child(6){
            .menu__icon{
                mask-image: url('./../icons/nav/setting.svg');
            }
        }
    }
   
    &__link {
        font-weight: 500;
        font-size: 17px;
        line-height: 26px;
        color: #A2A2C2;
        text-decoration: none;
        &:hover{
            color: #111026;
        }
    }
    &__icon {
        width: 24px;
        height: 24px;
        margin-right: 42px;
        background-size: cover;
        background-color: #A2A2C2;
        mask-size: contain;
        mask-position: center;
        &.menu__chat {
            width: 32px;
            height: 28px;
            margin-right: 34px;
            position: relative;
            &:after {
                content: '4';
                display: block;
                width: 17px;
                height: 17px;
                position: absolute;
                top: -1px;
                right: -1px;
                background-color: #ff808b;
                border: 2px solid #fefefe;
                border-radius: 50%;
                font-weight: 600;
                font-size: 13px;
                line-height: 17px;
                color: #fefefe;
                text-align: center;
            }
        }
    }

    &__footer {
        width: 221px;
        height: 241px;
        padding: 83px 29px 27px 28px;
        background-color: #F5F5FB;
        border-radius: 17px;
        position: relative;
        &-img{
            width: 105px;
            height: 112px;
            position: absolute;
            top: -37px;
            left: 58px;
        }
        &-btn {
            width: 164px;
            height: 51px;
            background-color: #5E81F4;
            border-radius: 14px;
            border: none;
            font-weight: 500;
            font-size: 17px;
            line-height: 26px;
            color: #FEFEFE;
        }
        &-desc {
            margin-bottom: 32px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #A2A2C2;
            span {
                text-transform: uppercase;
                color: #111026;
            }
        }
    }
    
}
.active{
    .menu__link{
        color: #111026;
    }
    &.menu__item:after{
        content: '';
        display: block;
        width: 3px;
        height: 23px;
        position: absolute;
        right: -2px;
        background-color: #5E81F4;
        border-radius: 10px;
    }
    .menu__icon {
        background-color: #5E81F4;
    }
}